.Productsdetails{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    img{
        max-height: 400px;
    }
    h1{
        margin: 16px 0 8px;
    }
}