@use '../../globals.scss' as globals;

.footerStyle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background: globals.$color-primary; 
    padding: 2rem 1.5rem;
    align-items: start;
    margin-top: auto;

    section{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;
        a{
            color: white;
        }

        p{
            color: black;
        }
    }

    form p{
        color: black;

    }

}